/*Text colors */
/*Background colors */
/*Transition */
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.link {
  text-decoration: none;
  color: currentColor;
}
.link:hover, .link:focus {
  color: #2196f3;
}

.list {
  list-style: none;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

body.no-scroll {
  overflow: hidden;
}

.btn {
  width: 200px;
  height: 50px;
  margin: 0 auto;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover, .btn:focus {
  color: #ffffff;
  background-color: #188ce8;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #2196f3;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__text--dark {
  color: #000000;
}

.logo__text--light {
  color: #ffffff;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__item {
  margin-right: 50px;
}
.nav__item:last-child {
  margin-right: 0;
}
.nav__link {
  display: inline-block;
  position: relative;
  color: #212121;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link--current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}
@media screen and (max-width: 767px) {
  .nav {
    display: none;
  }
}

.social-link {
  width: 44px;
  height: 44px;
  fill: #afb1b8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link--light {
  fill: #afb1b8;
  background-color: #ffffff;
}
.social-link--dark {
  fill: #ffffff;
  background: rgba(255, 255, 255, 0.1);
}
.social-link:hover, .social-link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 100;
  overflow-y: auto;
}

.modal-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
  width: 450px;
  max-width: calc(100% - 30px);
  height: 609px;
  padding: 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .modal-wrapper {
    width: 528px;
    height: 581px;
  }
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover, .modal-btn:focus {
  fill: #2196f3;
}

.modal-title {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.modal-form__group {
  position: relative;
  display: block;
  margin-bottom: 10px;
}
.modal-form__label {
  display: inline-block;
  width: 100%;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-align: start;
  color: #757575;
}
.modal-form__input {
  width: 100%;
  padding: 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:hover, .modal-form__input:focus {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.modal-form__input:hover, .modal-form__input:hover + .modal-form__icon, .modal-form__input:focus, .modal-form__input:focus + .modal-form__icon {
  border-color: #2196f3;
  fill: #2196f3;
}
.modal-form__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
}
.modal-form__textarea {
  padding: 12px 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  resize: none;
}
.modal-form__policy-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}
.modal-form__custom-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16px;
  height: 15px;
  margin-right: 9px;
  border-radius: 4px;
  border: 2px solid #212121;
  cursor: pointer;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__checkbox:hover + .modal-form__custom-checkbox, .modal-form__checkbox:focus + .modal-form__custom-checkbox {
  border: 2px solid #2196f3;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.modal-form__checkbox:checked + .modal-form__custom-checkbox {
  background-color: #2196f3;
  border: 2px solid #2196f3;
}
.modal-form__icon-check {
  opacity: 0;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #ffffff;
}
.modal-form__checkbox:checked + .modal-form__custom-checkbox .modal-form__icon-check {
  opacity: 1;
}
.modal-form__agreement-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .modal-form__agreement-text {
    font-size: 14px;
    line-height: 1.7;
  }
}
.modal-form__agreement-link {
  text-decoration: underline;
  color: #2196f3;
}

.btn-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .btn-filter {
    margin-bottom: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .btn-filter {
    margin-bottom: 50px;
  }
}
.btn-filter__item {
  margin-right: 8px;
}
@media screen and (max-width: 767px) {
  .btn-filter__item {
    margin-bottom: 15px;
  }
}
.btn-filter__item:last-child {
  margin-right: 0;
}
.btn-filter__label {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-filter__label.current, .btn-filter__label:hover, .btn-filter__label:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: translateX(150%);
          transform: translateX(150%);
  overflow-y: auto;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 9;
}
.mobile-menu.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.mobile-menu__nav-list {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
  margin-bottom: auto;
}
.mobile-menu__nav-item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-menu__nav-item--current {
  color: #2196f3;
}
.mobile-menu__contacts-list {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
  margin-bottom: 64px;
}
.mobile-menu__contacts-item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-menu__contacts-item .accent {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.mobile-menu__socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.mobile-menu__social-item:not(:last-child) .mobile-menu__social-link {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.menu-btn {
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  z-index: 10;
  cursor: pointer;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-btn:hover .menu-icon {
  fill: #2196f3;
}
@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.menu-btn.is-open .menu-burger {
  opacity: 0;
}

.menu-close {
  opacity: 0;
}
.menu-btn.is-open .menu-close {
  opacity: 1;
}

.header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .header__container {
    position: relative;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 16px 0;
  }
}
@media screen and (max-width: 1199px) {
  .header__container {
    padding-left: 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}
.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .header__contacts {
    display: none;
  }
}
.header__contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__contacts-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__contacts-item {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header__contacts-item {
    margin-right: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__contacts-item:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .header__contacts-item:last-child {
    margin-right: 0;
  }
}
.header__contacts-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .header__contacts-link {
    padding: 32px 0;
  }
}
.header__contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}
.header__contacts-icon:hover {
  fill: currentColor;
}

.footer {
  padding: 60px 0;
  background-color: #2f303a;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (max-width: 1199px) {
  .footer {
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
.footer__title {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.logo-box {
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .logo-box {
    margin-right: 70px;
    margin-bottom: 0px;
  }
}

.address {
  font-style: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.address__text {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .address__text {
    margin-bottom: 9px;
  }
}
.address__link {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .address__link {
    margin-bottom: 9px;
  }
}
.address__link:last-child {
  margin-bottom: 0;
}

.join-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .join-box {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .join-box {
    margin-right: 93px;
  }
}

.join-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 1199px) {
  .join-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.join-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
}
.join-list__item:last-child {
  margin-right: 0;
}

.subscribe-box {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media screen and (min-width: 1200px) {
  .subscribe-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.subscribe-form__input {
  width: 100%;
  height: 50px;
  margin: 0 auto;
  padding: 15px 16px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .subscribe-form__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe-form__input {
    width: 358px;
    margin-bottom: 0;
  }
}
.subscribe-form__input:hover, .subscribe-form__input:focus {
  border-color: #ffffff;
}
.subscribe-form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 28px 10px 29px;
}
.subscribe-form__icon {
  fill: currentColor;
}
@media screen and (min-width: 1200px) {
  .subscribe-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  max-width: 1600px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero_s.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero_s.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero_s@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero_s@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero_m.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero_m.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero_m@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero_m@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero_lg.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero_lg.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero_lg@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero_lg@2x.jpg);
  }
}
.hero__title {
  max-width: 360px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .features {
    width: 1200px;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
@media screen and (min-width: 768px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.features__item {
  margin-bottom: 30px;
}
.features__item:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features__item {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .features__item:nth-child(2n) {
    margin-right: 0;
  }
  .features__item:nth-child(n+3) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: calc((100% - 90px) / 4);
    margin-right: 30px;
  }
  .features__item:last-child {
    margin-right: 0;
  }
}
.features__item:last-child {
  margin-right: 0;
}
.features__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  background-color: #f5f4fa;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  margin-bottom: 30px;
}
.features__label {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .features__label {
    text-align: start;
  }
}
.features__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.services {
  padding-bottom: 94px;
  background-color: #ffffff;
}
.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}
.services__item {
  position: relative;
  margin-right: 30px;
}
.services__item:last-child {
  margin-right: 0;
}
.services__label {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}
@media screen and (max-width: 1199px) {
  .services {
    display: none;
  }
}

.team {
  padding: 60px 0;
  background-color: #f5f4fa;
}
@media screen and (min-width: 1200px) {
  .team {
    padding: 94px 0;
  }
}
@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.team__item {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 767px) {
  .team__item {
    margin-bottom: 30px;
  }
  .team__item:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 767px) and (max-width: 1199px) {
  .team__item {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .team__item:nth-child(2n) {
    margin-right: 0;
  }
  .team__item:nth-child(n+3) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    margin-right: 30px;
  }
  .team__item:last-child {
    margin-right: 0;
  }
}
.team__img {
  width: 100%;
  height: 460px;
}
@media screen and (min-width: 768px) {
  .team__img {
    width: 354px;
    height: 374px;
  }
}
@media screen and (min-width: 1200px) {
  .team__img {
    width: 270px;
    height: 260px;
  }
}
.team__content {
  padding-top: 30px;
  padding-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 270px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .team__content {
    padding-bottom: 30px;
  }
}
.team__subtitle {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.team__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}
.team__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.team__social-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
}
.team__social-item:last-child {
  margin-right: 0;
}

.clients {
  padding: 60px 0;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding: 94px 0;
  }
}
.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.clients__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc((100% - 30px) / 2);
  margin-right: 30px;
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .clients__item:nth-child(2n) {
    margin-right: 0;
  }
  .clients__item:nth-child(n+5) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__item {
    width: calc((100% - 60px) / 3);
  }
  .clients__item:nth-child(3n) {
    margin-right: 0;
  }
  .clients__item:nth-child(n+4) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 150px) / 6);
    margin-right: 30px;
  }
  .clients__item:last-child {
    margin-right: 0;
  }
}
.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #afb1b8;
  border-radius: 4px;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid #2196f3;
  fill: #2196f3;
}

.portfolio {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding: 94px 0;
  }
}

.projects-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .projects-list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}
.projects-list__item {
  max-width: 100%;
}
@media screen and (max-width: 767px) {
  .projects-list__item {
    margin-bottom: 30px;
  }
  .projects-list__item:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .projects-list__item {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .projects-list__item:nth-child(2n) {
    margin-right: 0;
  }
  .projects-list__item:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .projects-list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .projects-list__item:nth-child(3n) {
    margin-right: 0;
  }
  .projects-list__item:nth-child(n+7) {
    margin-bottom: 0;
  }
}
.projects-list__link {
  width: 370px;
  border: 1px solid #eeeeee;
}
.projects-list__link:hover, .projects-list__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projects-list__img-box {
  position: relative;
  overflow: hidden;
}
.projects-list__description {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-list__link:hover .projects-list__description, .projects-list__link:focus .projects-list__description {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.projects-list__text-box {
  padding: 20px 24px;
}
.projects-list__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.projects-list__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}/*# sourceMappingURL=main.css.map */