.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $modal-backdrop;
    transition: $transitionStyle;
    z-index: 100;
    overflow-y: auto;
}
