$main-font: "Roboto", sans-serif;
$secondary-font: "Raleway", sans-serif;

/*Text colors */
$accent-color: #2196f3;
$main-text-color: #757575;
$secondary-text-color: #212121;
$third-color: #ffffff;

/*Background colors */
$main-bg-color: #ffffff;
$secondary-bg-color: #f5f4fa;
$dark-bg-color: #2f303a;
$btn-active-cl: #188ce8;
$gallery-item-border: #eeeeee;
$main-icon-color: #afb1b8;
$modal-backdrop: rgba(0, 0, 0, 0.2);
$modal-btn-bg: rgba(0, 0, 0, 0.1);
$social-link-dark-cl: rgba(255, 255, 255, 0.1);
    
/*Transition */
$transitionStyle: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
