.footer {
    padding: 60px 0;
    background-color: $dark-bg-color;
    box-sizing: border-box;

    @media screen and (max-width: 1199px) {
        text-align: center;
    }

    &__container {
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            display: flex;
            flex-wrap: wrap;
            align-items: baseline;
            justify-content: space-around;
        }
        
        @media screen and (min-width: 1200px) {
            display: flex;
            justify-content: flex-start;
            align-items: baseline;
        }     
    }
    &__title {
        display: block;
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $third-color;
    }
    &__logo {
        display: block;
        margin-bottom: 20px;
    }
}

.logo-box {
    margin-bottom: 60px;

    @media screen and (min-width: 1200px) {
        margin-right: 70px;
        margin-bottom: 0px;      
    }
}

.address {
    font-style: normal;
    display: flex;
    flex-direction: column;

    &__text {
        margin-bottom: 8px;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: $third-color;
        text-decoration: none;

        @media screen and (min-width: 1200px) {
            margin-bottom: 9px;
        }
    }

    &__link {
        margin-bottom: 8px;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        transition: $transitionStyle;
        
        @media screen and (min-width: 1200px) {
            margin-bottom: 9px;
        }
    }

    &__link:last-child {
        margin-bottom: 0;
    }
}
.join-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;

    @media screen and (min-width: 768px) {
        margin-bottom: 0px;
    }

    @media screen and (min-width: 1200px) {
        margin-right: 93px;      
    }
}

.join-list {
    display: flex;

    @media screen and (max-width: 1199px) {
        justify-content: center;
    }

    &__item {
        display: flex;
        margin-right: 10px;
    }

    &__item:last-child {
        margin-right: 0;
    }
}

.subscribe-box {
    display: block;
    flex-grow: 1;

    @media screen and (min-width: 1200px) {
        display: flex;
        flex-direction: column;
    }
}

.subscribe-form {

    &__input {
        width: 450px;
        height: 50px;
        margin-right: 12px;
        padding: 15px 16px;
        margin-bottom: 20px;

        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);

        background-color: inherit;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        transition: $transitionStyle;

        @media screen and (min-width: 1200px) {
            width: 358px;
            margin-bottom: 0;
        }
    }

    &__input:hover,
    &__input:focus {
        border-color: $main-bg-color;
    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 28px 10px 29px;
    }

    &__icon {
        fill: currentColor;
    }
    
    @media screen and (min-width: 1200px) {
        display: flex;
    }
    
}